USE [master]
GO
CREATE DATABASE [bdolimpiadas] ON  PRIMARY 
( NAME = N'bdolimpiadas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\bdolimpiadas.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdolimpiadas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\bdolimpiadas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdolimpiadas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdolimpiadas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblmodalidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblmodalidades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblpaises](
	[idpais] [int] IDENTITY(1,1) NOT NULL,
	[nombrepais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblpaises] PRIMARY KEY CLUSTERED 
(
	[idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblparticipantes](
	[cedula] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[pais] [int] NOT NULL,
	[edad] [tinyint] NULL,
 CONSTRAINT [PK_tblparticipantes] PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [tblpaises] ON 

INSERT [tblpaises] ([idpais], [nombrepais]) VALUES (1, N'COLOMBIA')
INSERT [tblpaises] ([idpais], [nombrepais]) VALUES (2, N'BRAZIL')
INSERT [tblpaises] ([idpais], [nombrepais]) VALUES (3, N'ARGENTINA')
SET IDENTITY_INSERT [tblpaises] OFF
INSERT [tblparticipantes] ([cedula], [nombre], [pais], [edad]) VALUES (1111111, N'Anacleto el Corredor', 3, 45)
INSERT [tblparticipantes] ([cedula], [nombre], [pais], [edad]) VALUES (2222222, N'Juana de Arco', 7, 20)
INSERT [tblparticipantes] ([cedula], [nombre], [pais], [edad]) VALUES (3333333, N'Fulano fulanito', 2, 32)
ALTER TABLE [tblparticipantes]  WITH CHECK ADD  CONSTRAINT [FK_tblparticipantes_tblpaises] FOREIGN KEY([pais])
REFERENCES [tblpaises] ([idpais])
GO
ALTER TABLE [tblparticipantes] CHECK CONSTRAINT [FK_tblparticipantes_tblpaises]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spConsultaPaises]
AS
SELECT * FROM dbo.tblpaises ORDER BY nombrepais ASC


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spConsultaParticipantes]
AS
SELECT 
par.cedula AS "CÉDULA",
par.nombre AS "NOMBRE PARTICIPANTE",
pai.nombrepais AS "PAÍS",
par.edad AS "EDAD"
FROM dbo.tblparticipantes par
INNER JOIN dbo.tblpaises pai
ON par.pais = pai.idpais

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [spEliminarPais]
@idpais INT
AS
DELETE FROM dbo.tblpaises WHERE
idpais = @idpais


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spEliminarParticipantes]
@cedula INT
AS
DELETE FROM dbo.tblparticipantes  
WHERE cedula = @cedula

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spGuarCambiosPais]
@idpais INT,
@nombrepais VARCHAR(50)
AS
UPDATE dbo.tblpaises SET
nombrepais = @nombrepais WHERE
idpais = @idpais


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spGuardarCambiosParticipantesCONPais]
@cedula INT,
@nombre VARCHAR(100),
@pais INT,
@edad TINYINT = NULL
AS
UPDATE dbo.tblparticipantes SET 
nombre = @nombre, pais = @pais, edad = @edad
WHERE cedula = @cedula

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spGuardarCambiosParticipantesSINPais]
@cedula INT,
@nombre VARCHAR(100),
@edad TINYINT = NULL
AS
UPDATE dbo.tblparticipantes SET 
nombre = @nombre, edad = @edad
WHERE cedula = @cedula

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spGuardarNuevoParticipantes]
@cedula INT,
@nombre VARCHAR(100),
@pais INT,
@edad TINYINT = NULL
AS
INSERT INTO dbo.tblparticipantes (cedula, nombre, pais, edad)
VALUES (@cedula, @nombre, @pais, @edad)

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spNuevoPais]
@nombrepais VARCHAR(50)
AS
INSERT INTO dbo.tblpaises (nombrepais)
VALUES (@nombrepais)


GO
USE [master]
GO
